@font-face {
    font-family: ClearSans;
    src: url(../fonts/ClearSans-Light.ttf);
}
.adminPanel {
    font-family:ClearSans;
    margin: 20px 100px;
    background-image:url(../images/body-background.png)
}
.adminPanel table{
    margin: 0 auto;
    background-color: white;
}
.adminPanel h1, .adminPanel h3{
    text-align: center;
}

.adminPanel th{
    background-color: aliceblue;
}
.adminPanel a{
    text-decoration: none;
    color: crimson;
}
.adminPanel tr:nth-child(odd) {
    background-color: #fef7f7;
}