@font-face {
    font-family: ClearSans;
    src: url(../fonts/ClearSans-Light.ttf);
}
body{
    background-image:url(../images/body-background.png)
}
h1{
    font-family: ClearSans;
    margin-top: 5px;
}
form{
    border: 1px solid #0094ff;
    border-radius: 2px;
    width: 350px;
    text-align: center;
    padding: 5px;
    margin: 60px auto;
    background-image:url(../images/ssaexec-bkgd3.jpg);
    -moz-box-shadow:    -4px -2px 21px 0px rgba(50, 50, 50, 0.58);
    box-shadow:         -4px -2px 21px 0px rgba(50, 50, 50, 0.58);
}
input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 35px; 
    border-radius: 4px;
    font-size: 20px;
}
input:focus{
    border-color: ActiveCaption;
}
