@import "css-reset.css";
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic,latin-ext);

html {
    box-sizing: border-box;
}

/* index page -> */

body {
    box-sizing: border-box;
    background-image: url("../images/body-background.png");
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: 0 0;
}

header {
    box-sizing: border-box;
    background-image: url("../images/hedaer-background.jpg");
    height: 300px;
    width: 1024px;
    margin: 0 auto;
    box-shadow: 0 0 10px #808080;
}

header p {
    font-family: Lobster;
    position: relative;
    top: 20px;
    left: 480px;
    color: white;
    font-size: 40px;
}

main {
    padding: 20px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    width: 1024px;
    min-height: 1024px;
    margin: 0 auto;
    border-top: 2px solid #808080;
    border-left: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    box-shadow: 0 0 8px #808080;
}

article {
    padding: 20px;
    margin-bottom: 20px;
    width: 650px;
    min-height: 200px;
    background-color: white;
    box-shadow: 0 0 5px lightgrey;
}




/* -> index page */


/* admin-panel page -> */






/* -> admin-panel page */